@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<h1>衝突</h1>

<h1>小柏~</h1>

<h1>亮</h1>

<h1>Hua</h1>
<h1>
122333
</h1>

<h2>杰杰好</h2>