@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<h1>衝突</h1>

<h1>小柏~</h1>
<h1>哭</h1>
<h1>亮~~~~~~~~~~</h1>

<h1>Hua</h1>
<h1>
    10000
</h1>

<h2>杰杰好</h2>
<h1>嘿嘿嘿</h1>

<h1>景琁在哪</h1>
<h1>嘿嘿嘿</h1> 
<h1>快跑 有怪獸</h1>
<h1>景琁ㄚㄚㄚㄚㄚㄚ不~~~~~</h1>
<h1>所以景璇是那隻怪獸嗎?還是亮?</h1>
<h1>景琁別擔心我會去救你的 等我啊~~~~~</h1>
<h1>!!!!華怎麼在這????(難道怪獸是華找來的)??</h1>
<h1>亮!我也被抓走了!!快來救我啊!!景璇比怪獸都強哩!</h1>
<h1>等等等!!!!那不是說怪獸在附近 慘了我要去找救兵</h1>





<br><br><br><br>
<h2>小柏~</h2>
<h2>嘿，杰杰好~</h2>
<h2>欸，你們好，我一個人住，我的房子還滿大的，歡迎你們來我家玩，玩累了就直接睡覺，沒問題的。</h2>
<h2>小柏：好阿，那沒問題阿，我們現在就去超商買一些吃的。</h2>
<h2>杰哥：都可以拿。</h2>
<h2>杰哥：隨便拿你們隨便拿。</h2>
<h2>小柏：謝謝杰哥！</h2>
<h2>杰哥：你看，你看這個柏柏，才喝幾罐就醉了，真的太遜了。</h2>

<h2>杰哥：聽你這麼說，你很勇喔？</h2>
<h2>小柏：開玩笑，我超勇的好不好，我超會喝的拉。</h2>
<h2>杰哥：超會喝？很勇嘛，身材不錯喔，滿結實的啊</h2>
<h2>小柏：懂……懂什麼啊？</h2>

<h2>小柏：登ㄉㄨㄛ郎？</h2>

<h2>杰哥：唉呦，你臉紅啦？來，讓我看看</h2>
<h2>小柏：杰哥，不要啦！</h2>
<h2>杰哥：聽話！讓我看看</h2>
<img src="https://wiki.komica.org/images/thumb/7/7f/Img12333.jpg/300px-Img12333.jpg" />
